@mixin Large-Tilte602-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(60px);
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: -2.4px;
  text-align: right;
}

@mixin Large-Tilte602-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(60px);
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: -2.4px;
  text-align: center;
}

@mixin Large-Tilte602-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(60px);
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: -2.4px;
}

@mixin Large-Tilte542-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(54px);
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: -2.16px;
  text-align: right;
}

@mixin Large-Tilte542-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(54px);
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: -2.16px;
  text-align: center;
}

@mixin Large-Tilte542-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(54px);
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: -2.16px;
}

@mixin Large-Tilte502-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(50px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -2px;
  text-align: right;
}

@mixin Large-Tilte502-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(50px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -2px;
  text-align: center;
}

@mixin Large-Tilte502-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(50px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -2px;
}

@mixin Large-Tilte482-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(48px);
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: -1.92px;
  text-align: right;
}

@mixin Large-Tilte482-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(48px);
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: -1.92px;
  text-align: center;
}

@mixin Large-Tilte482-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(48px);
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: -1.92px;
}

@mixin Large-Tilte442-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(44px);
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: -1.76px;
  text-align: right;
}

@mixin Large-Tilte442-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(44px);
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: -1.76px;
  text-align: center;
}

@mixin Large-Tilte442-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(44px);
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: -1.76px;
}

@mixin Large-Tilte402-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(40px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -1.6px;
  text-align: right;
}

@mixin Large-Tilte402-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(40px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -1.6px;
  text-align: center;
}

@mixin Large-Tilte402-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(40px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -1.6px;
}

@mixin Large-Tilte362-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(36px);
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: -1.1px;
}

@mixin Large-Tilte362-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(36px);
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: -1.1px;
  text-align: center;
}

@mixin Large-Tilte362-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(36px);
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: -1.1px;
  text-align: right;
}

@mixin Large-Tilte322-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(32px);
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.6px;
  text-align: center;
}

@mixin Large-Tilte322-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(32px);
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.6px;
}

@mixin Large-Tilte322-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(32px);
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.6px;
  text-align: right;
}

@mixin Tilte282-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(28px);
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: -0.6px;
  text-align: right;
}

@mixin Tilte282-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(28px);
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: -0.6px;
  text-align: center;
}

@mixin Tilte282-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(28px);
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: -0.6px;
}

@mixin Tilte242-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(24px);
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.51px;
  text-align: right;
}

@mixin Tilte242-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(24px);
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.51px;
}

@mixin Tilte242-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(24px);
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.51px;
  text-align: center;
}

@mixin Body202-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(20px);
  font-weight: bold;
  line-height: 1.6;
  text-align: right;
}

@mixin Body202-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(20px);
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
}

@mixin Body202-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(20px);
  font-weight: bold;
  line-height: 1.6;
}

@mixin Callout202-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(20px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.44px;
  text-align: right;
}

@mixin Callout202-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(20px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.44px;
  text-align: center;
}

@mixin Callout202-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(20px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.44px;
}

@mixin Tilte202-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(20px);
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -0.43px;
  text-align: right;
}

@mixin Tilte202-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(20px);
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -0.43px;
  text-align: center;
}

@mixin Tilte202-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(20px);
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -0.43px;
}

@mixin Body201-Regular1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(20px);
  line-height: 1.6;
  letter-spacing: -0.22px;
}

@mixin Body201-Regular1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(20px);
  line-height: 1.6;
  letter-spacing: -0.22px;
  text-align: center;
}

@mixin Body201-Regular1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(20px);
  line-height: 1.6;
  letter-spacing: -0.22px;
  text-align: right;
}

@mixin Tilte182-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(18px);
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.39px;
}

@mixin Callout182-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(18px);
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: 0.4px;
}

@mixin Body182-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(18px);
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
}

@mixin Callout182-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(18px);
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: 0.4px;
  text-align: right;
}

@mixin Body182-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(18px);
  font-weight: bold;
  line-height: 1.67;
}

@mixin Tilte182-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(18px);
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.39px;
  text-align: right;
}

@mixin Callout182-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(18px);
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: 0.4px;
  text-align: center;
}

@mixin Tilte182-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(18px);
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.39px;
  text-align: center;
}

@mixin Body182-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(18px);
  font-weight: bold;
  line-height: 1.67;
  text-align: right;
}

@mixin Body181-Regular1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(18px);
  line-height: 1.67;
  letter-spacing: -0.2px;
  text-align: right;
}

@mixin Body181-Regular1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(18px);
  line-height: 1.67;
  letter-spacing: -0.2px;
  text-align: center;
}

@mixin Body181-Regular1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(18px);
  line-height: 1.67;
  letter-spacing: -0.2px;
}

@mixin Body172-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(17px);
  font-weight: bold;
  line-height: 1.65;
  letter-spacing: 0.05px;
  text-align: center;
}

@mixin Body172-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(17px);
  font-weight: bold;
  line-height: 1.65;
  letter-spacing: 0.05px;
  text-align: right;
}

@mixin Callout172-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(17px);
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.38px;
}

@mixin Callout172-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(17px);
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.38px;
  text-align: center;
}

@mixin Body172-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(17px);
  font-weight: bold;
  line-height: 1.65;
  letter-spacing: 0.05px;
}

@mixin Callout172-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(17px);
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.38px;
  text-align: right;
}

@mixin Body171-Regular1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(17px);
  line-height: 1.65;
  letter-spacing: -0.1px;
  text-align: center;
}

@mixin Body171-Regular1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(17px);
  line-height: 1.65;
  letter-spacing: -0.1px;
  text-align: right;
}

@mixin Body171-Regular1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(17px);
  line-height: 1.65;
  letter-spacing: -0.1px;
}

@mixin Tilte162-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(16px);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.34px;
  text-align: right;
}

@mixin Tilte162-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(16px);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.34px;
  text-align: center;
}

@mixin Tilte162-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(16px);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.34px;
}

@mixin Body162-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(16px);
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: 0.1px;
}

@mixin Callout162-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(16px);
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.36px;
}

@mixin Body162-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(16px);
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: 0.1px;
  text-align: center;
}

@mixin Callout162-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(16px);
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.36px;
  text-align: center;
}

@mixin Body162-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(16px);
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: 0.1px;
  text-align: right;
}

@mixin Callout162-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(16px);
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.36px;
  text-align: right;
}

@mixin Body161-Regular1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(16px);
  line-height: 1.63;
}

@mixin Body161-Regular1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(16px);
  line-height: 1.63;
  text-align: center;
}

@mixin Body161-Regular1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(16px);
  line-height: 1.63;
  text-align: right;
}

@mixin Body152-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(15px);
  font-weight: bold;
  line-height: 1.73;
  letter-spacing: 0.15px;
}

@mixin Body152-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(15px);
  font-weight: bold;
  line-height: 1.73;
  letter-spacing: 0.15px;
  text-align: center;
}

@mixin Body152-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(15px);
  font-weight: bold;
  line-height: 1.73;
  letter-spacing: 0.15px;
  text-align: right;
}

@mixin Footnote152-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(15px);
  font-weight: bold;
  line-height: 1.6;
}

@mixin Callout152-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(15px);
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.33px;
}

@mixin Callout152-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(15px);
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.33px;
  text-align: center;
}

@mixin Callout152-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(15px);
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.33px;
  text-align: right;
}

@mixin Footnote152-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(15px);
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
}

@mixin Footnote152-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(15px);
  font-weight: bold;
  line-height: 1.6;
  text-align: right;
}

@mixin Body151-Regular1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(15px);
  line-height: 1.73;
  letter-spacing: -0.1px;
}

@mixin Body151-Regular1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(15px);
  line-height: 1.73;
  letter-spacing: -0.1px;
  text-align: center;
}

@mixin Body151-Regular1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(15px);
  line-height: 1.73;
  letter-spacing: -0.1px;
  text-align: right;
}

@mixin Footnote151-Regular1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(15px);
  line-height: 1.6;
  letter-spacing: -0.05px;
}

@mixin Footnote151-Regular1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(15px);
  line-height: 1.6;
  letter-spacing: -0.05px;
  text-align: right;
}

@mixin Footnote151-Regular1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(15px);
  line-height: 1.6;
  letter-spacing: -0.05px;
  text-align: center;
}

@mixin Callout142-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(14px);
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.31px;
  text-align: right;
}

@mixin Callout142-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(14px);
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.31px;
  text-align: center;
}

@mixin Callout142-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(14px);
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.31px;
}

@mixin Footnote142-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(14px);
  font-weight: bold;
  line-height: 1.57;
  letter-spacing: 0.15px;
  text-align: right;
}

@mixin Footnote142-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(14px);
  font-weight: bold;
  line-height: 1.57;
  letter-spacing: 0.15px;
}

@mixin Footnote142-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(14px);
  font-weight: bold;
  line-height: 1.57;
  letter-spacing: 0.15px;
  text-align: center;
}

@mixin Footnote141-Regular1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(14px);
  line-height: 1.57;
  letter-spacing: -0.1px;
}

@mixin Footnote141-Regular1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(14px);
  line-height: 1.57;
  letter-spacing: -0.1px;
  text-align: center;
}

@mixin Footnote141-Regular1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(14px);
  line-height: 1.57;
  letter-spacing: -0.1px;
  text-align: right;
}

@mixin Caption132-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(13px);
  font-weight: bold;
  line-height: 1.69;
  letter-spacing: 0.2px;
}

@mixin Caption132-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(13px);
  font-weight: bold;
  line-height: 1.69;
  letter-spacing: 0.2px;
  text-align: right;
}

@mixin Caption132-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(13px);
  font-weight: bold;
  line-height: 1.69;
  letter-spacing: 0.2px;
  text-align: center;
}

@mixin Caption131-Regular1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(13px);
  line-height: 1.69;
  letter-spacing: 0.1px;
  text-align: center;
}

@mixin Caption131-Regular1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(13px);
  line-height: 1.69;
  letter-spacing: 0.1px;
  text-align: right;
}

@mixin Caption131-Regular1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(13px);
  line-height: 1.69;
  letter-spacing: 0.1px;
}

@mixin Caption122-Bold1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(12px);
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.15px;
  text-align: right;
}

@mixin Caption122-Bold1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(12px);
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.15px;
  text-align: center;
}

@mixin Caption122-Bold1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(12px);
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.15px;
}

@mixin Caption121-Regular1-Light2-Default-Color1-Left-Aligned {

  font-size: pxToRem(12px);
  line-height: 1.67;
  letter-spacing: 0.05px;
}

@mixin Caption121-Regular1-Light2-Default-Color3-Right-Aligned {

  font-size: pxToRem(12px);
  line-height: 1.67;
  letter-spacing: 0.05px;
  text-align: right;
}

@mixin Caption121-Regular1-Light2-Default-Color2-Center-Aligned {

  font-size: pxToRem(12px);
  line-height: 1.67;
  letter-spacing: 0.05px;
  text-align: center;
}