.radio-group-00 {
  display: flex;
  align-items: flex-start;
  $change-bp: $medium-screen-2;
  $this: &;

  &--column {
    display: block;
    width: 100%;
  }

  &--mt8-m-mt0 {
    margin-top: 8px;

    @include rwd($medium-small-screen) {
      margin-top: 8;
    }
  }


  &__item {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;

    &--no-wrap {
      white-space: nowrap;
      flex-shrink: 1 !important;
      flex-grow: 0 !important;
      flex-basis: auto !important;
      width: auto !important;
      display: inline-flex !important;
    }

    &--mobile-full {
      @include rwd($medium-small-screen) {
        flex-shrink: 1 !important;
        flex-grow: 1 !important;
        flex-basis: auto !important;
        width: auto !important;
        display: inline-flex !important;
      }
    }
  }

  &__item+&__item {
    margin-left: 40px;

    @include rwd($medium-small-screen) {
      margin-left: 32px;
    }
  }

  &--column &__item+&__item {
    margin-left: 0;
    margin-top: 34px;
  }

  &--wrap {
    @include rwd($change-bp) {
      display: block;

      #{$this}__item {
        height: auto;
      }

      #{$this}__item+*#{$this}__item {
        margin-left: 0px;
        margin-top: 12px;

      }
    }
  }

  &--wrap-full {
    @include rwd($change-bp) {

      #{$this}__item {
        height: auto;
      }

      #{$this}__item+*#{$this}__item {
        margin-left: 0px;
        margin-top: 12px;

      }
    }
  }

  &--auto-wrap {
    flex-wrap: wrap;
    margin-left: -40px;
    width: calc(100% + 40px);
    margin-bottom: -18px;
  }

  &--f-wrap {
    flex-wrap: wrap;
  }

  &--f-wrap &__item {
    margin-left: 0px;
    max-width: 100%;

    @include rwd($medium-screen-2) {
      max-width: calc(100% - 40px);
    }
  }

  &--auto-wrap &__item {
    margin-left: 40px;
    margin-bottom: 18px;
    max-width: 100%;

    @include rwd($medium-screen-2) {
      max-width: calc(100% - 40px);
    }
  }

  &--auto-wrap &__item.radio-group-00-item--wrap-full {

    @include rwd($medium-screen-2) {
      max-width: 100%;
    }
  }


  &--mobile-3-col {
    @include fixed-gutter-flex-grid($column-number:3, $column-gutter:17px, $vertical-gutter:18px, $grid-child-selector:#{$this}__item, $min-screen-width:401px, $max-screen-width:$medium-small-screen);
    @include fixed-gutter-flex-grid($column-number:3, $column-gutter:0px, $vertical-gutter:18px, $grid-child-selector:#{$this}__item, $max-screen-width:400px);
    max-width: calc(100% - 40px);

    @include rwd($medium-small-screen) {
      margin-left: 0;
      width: 100%;
      margin-bottom: -18px;

      #{$this}__item {
        margin-left: 0;
      }
    }
  }

  &--mobile-2-col {
    @include fixed-gutter-flex-grid($column-number:2, $column-gutter:38px, $vertical-gutter:8px, $grid-child-selector:#{$this}__item, $min-screen-width:$nx-screen-normal-phone-portrait+1, $max-screen-width:$medium-small-screen);
    @include fixed-gutter-flex-grid($column-number:2, $column-gutter:0px, $vertical-gutter:8px, $grid-child-selector:#{$this}__item, $max-screen-width:$nx-screen-normal-phone-portrait);

    @include rwd($medium-small-screen) {
      margin-left: 0;
      padding-right: 36px;
      width: 100%;
      margin-bottom: -8px;

      #{$this}__item {
        margin-left: 0;
      }
    }


  }

  &--mobile-2-col#{&}--mobile-gap-type-a {
    @include rwd($medium-small-screen) {
      #{$this}__item {
        margin-top: 8px !important;
      }
    }
  }


}



.radio-group-00-item {
  height: auto;
  display: flex;

  &--bold {
    font-weight: bold;
  }

  &--no-wrap {
    white-space: nowrap;
  }

  &--wrap-expand {

    @include rwd($medium-screen-2) {
      display: block;
    }
  }


  &--align-start {
    align-items: flex-start;
  }

  &--fluid &__label .text {
    @include rwd(480px) {
      flex-shrink: 1;
      // flex-basis: 175px;
    }

  }

  &--m-basis-175 &__text {
    @include rwd(480px) {
      flex-basis: 175px;
    }
  }

  &--fluid &__label &__tag {
    @include rwd(480px) {
      flex-shrink: 1;
    }

  }


  &__label {
    display: flex;
    align-items: center;

    >* {
      @include flex-width(auto)
    }

    >*+* {
      margin-left: 8px;
    }

    &--align-start {
      align-items: flex-start;
    }
  }

  &--align-start &__label {
    align-items: flex-start;
  }

  &__input[disabled]+&__label {
    color: $gs005;
  }

  &__input:checked+&__label &__icon {
    position: relative;
    display: block;
    color: $CI02;
    border: 2px solid currentColor;

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: currentColor;
      border-radius: 50%;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      transform: translateY(-50%);
    }
  }

  &__input[disabled]:checked+&__label &__icon {
    color: $gs005;
  }

  &__input {
    display: none;
  }

  &__icon {
    width: 26px;
    border: 2px solid $gs004;
    height: 26px;
    border-radius: 50%;
    display: block;
  }



  &--void-icon {
    display: inline-flex;
  }

  &--void-icon &__icon {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
  }

  &--void-icon &__input+&__label {
    position: relative;
    padding-left: 0;
  }

  &--void-icon &__input:checked+&__label &__icon {
    position: absolute;
  }

  &__text {
    margin-top: 2px;
    margin-left: 8px;
    flex-shrink: 1;
    @include Body161-Regular1-Light2-Default-Color1-Left-Aligned();

    &--no-wrap {
      white-space: nowrap;
    }

    &--big-bolder {
      @include Body182-Bold1-Light2-Default-Color1-Left-Aligned();
      color: $gs009;
    }
  }

  &__text+&__tag {
    margin-left: 8px;
  }

  &__tag {
    flex: none;
  }

  &__descrp {
    margin-top: 4px;
    @include Footnote141-Regular1-Light2-Default-Color1-Left-Aligned();
    color: $gs006;
  }

  &--wrap,
  &--wrap-full {
    @include rwd($medium-screen-2) {
      height: auto;
      flex-wrap: wrap;
    }
  }

  &--wrap-full {
    margin-right: 0 !important;
  }

  &--wrap &__extension {
    @include rwd($medium-screen-2) {
      height: auto;
      margin-top: 8px;
      width: auto;
      margin-left: 36px;

      >* {
        top: 0;
        transform: none !important;
        width: auto;
      }
    }
  }

  &--wrap &__extension--mobile-full {
    @include rwd($medium-screen-2) {
      width: 100%;
    }
  }

  &--wrap-expand &__extension {
    flex: 1;
    width: 75%;

    @include rwd($medium-screen-2) {
      height: auto;
      margin-top: 8px;
      flex-basis: 100%;
      width: 100%;
      margin-left: 0;

      >* {
        top: 0;
        transform: none !important;
        width: auto;
      }
    }


  }



  &--wrap-full &__extension {
    @include rwd($medium-screen-2) {
      height: auto;
      width: auto;
      flex-grow: 1;
      flex-shrink: 0;

      >* {
        top: 0;
        transform: none !important;
        width: auto;
      }
    }
  }

  &--wrap-full &__extension+&__extension {
    margin-left: 8px;

    @include rwd(773px) {
      // 因為是採auto-wrap, 所以很難預測折行點,只能hard-code了
      margin-top: 8px;
    }

    @include rwd($medium-small-screen) {
      margin-left: 0;
    }

  }


  &--abs &__input:checked+&__label &__icon,
  &--abs &__input+&__label &__icon {
    position: absolute;
    left: 0;
  }

  &--abs &__input+&__label {
    position: relative;
    padding-left: 34px;

    @include rwd($medium-small-screen) {
      display: block;
    }
  }

  &--abs &__input+&__label &__tag {
    @include rwd($medium-small-screen) {
      margin-left: 0;
      margin-top: 8px;
    }

  }

  &--abs &__input+&__label &__text {
    margin-left: 0;
  }

  &__extension {
    flex-shrink: 1;
    height: 26px;
    position: relative;
    margin-left: 8px;

    &--grow {
      flex-grow: 1;
    }

    &--size-1 {
      flex-basis: 226px;
      width: 226px;

      >* {
        width: 100%;
      }
    }

    &--size-2 {
      flex-basis: 186px;
      width: 186px;

      @include rwd($medium-small-screen) {
        flex-grow: 1;
        width: auto;
      }

      >* {
        width: 100%;
      }

    }

    >* {
      top: 50%;
      transform: translateY(-50%) !important;
    }


    &--flex {
      display: flex;
      align-items: center;
      flex-basis: auto;

      @include rwd(480px) {
        // 因為是採auto-wrap, 所以很難預測折行點,只能hard-code了
        flex-basis: 150px;
        flex-shrink: 1;
      }


      >* {
        top: 0%;
        transform: none !important;
      }
    }

    &--mobile-block {


      @include rwd($medium-screen-2) {
        display: block;

        >*+* {
          margin-left: 0 !important;
          margin-top: 8px;
        }
      }

    }

    &--mobile-full {
      @include rwd($medium-small-screen) {
        width: 100%;
      }
    }


  }

  &__extension-cell {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    white-space: nowrap;

    &--shrink {
      flex-shrink: 1;
      flex-grow: 0;
    }

    &--size-1 {
      flex-basis: 186px;
      width: 186px;

      @include rwd($medium-small-screen) {
        flex-shrink: 1;
        width: auto;
      }
    }

    &--size-2 {
      flex-basis: 368px;
      width: 368px;

      @include rwd($medium-small-screen) {
        flex-shrink: 1;
        width: auto;
      }
    }

    &--flex {
      display: flex;
    }

    &--f-wrap {
      flex-wrap: wrap;
    }
  }

  &__extension-cell+&__extension-cell {
    margin-left: 8px;
  }

  &__extension-cell &__text {
    margin-left: 0;
  }




}