.date-picker-00 {
  @include nxjq-input( //
    $border-radius:6px,
    $active-color:$CI01 //
  );
  transform: none;

  &:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../../../img/calendar.svg);
    background-size: cover;
    top: 50%;
    right: 16px;
    position: absolute;
    transform-origin: 50% 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }


  &--error {
    input:not([disabled]) {
      border: 1px solid red !important;
    }
  }

  input {
    padding: 8px 16px;
    transform: none;
    cursor: pointer;
    @include Body181-Regular1-Light2-Default-Color1-Left-Aligned();

    @include ie11-hack() {
      min-height: 48px;
    }

    &:focus {
      border-width: 1px;
    }

    &[disabled] {
      background-color: $gs002;

      &::placeholder {
        color: $gs005;
      }
    }
  }
}