.index-banner {
  height: 585px;
  position: relative;

  @include rwd($medium-screen-2) {
    height: 474px;
  }

  &__bg {
    background-size: cover;
    background-position: 45%;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
  }

  &__inner {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1136px;
    padding-top: 156px;
    padding-left: 40px;

    @include rwd($medium-screen-2) {
      padding-top: 82px;
      padding-left: 28px;
    }

    @include rwd($smaller-screen) {
      padding-left: 15px;
    }
  }

  &__title {
    br {
      display: none;

      @include rwd($medium-screen-2) {
        display: block;
      }
    }

    &--main {
      @include Large-Tilte362-Bold1-Light2-Default-Color1-Left-Aligned();

      @include rwd($medium-screen-2) {
        @include Tilte242-Bold1-Light2-Default-Color1-Left-Aligned();
      }
    }

    &--vice {
      @include Tilte182-Bold1-Light2-Default-Color1-Left-Aligned();

      @include rwd($medium-screen-2) {
        @include Footnote142-Bold1-Light2-Default-Color1-Left-Aligned();
      }
    }
  }

  &__title+&__title {
    margin-top: 8px;
  }

  &__btn {
    width: 180px;

    @include rwd($medium-screen-2) {
      height: 152px;
    }
  }

  &__title+&__btn {
    margin-top: 48px;

    @include rwd($medium-screen-2) {
      height: 32px;
    }
  }
}